# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
/classes/

# gradle
build
.gradle
/gradle/
/gradlew*
settings.gradle

# other
eclipse
run

# forge
*-changelog.txt
*Pauls*
config/
logs/
